<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="../styles/glassdoor.css" rel="alternate stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA+T8AAPt/AACGfwAAe78AAL3fAADe7wAA728AAPfvAAD77wAA/fcAAP23AAD9VwAA/fcAAP7vAAD/HwAA" rel="icon" type="image/x-icon" />
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
{% extends 'base.html' %}
{% load static %}

{% block head %}
{{block.super}}
{% endblock %}

    {% block content %}
    <br>
    <h2 align="center"><b>Job Statistics Portal - Glassdoor</b></h2><br><br>
    <div style="width: 50%; float:left">
                <h3 align="center" class="general">General Statistics</h3> <br><br>
                <form action="" method="get">
                        {% csrf_token %}
                        <div align="center" class="form-group">
                            <label for="genstat"></label>
                            <select class="form-control" id="genstat" name="genstat" style="max-width:20%;display: inline-block;">
                                <option value="" selected="selected">General Statistics</option>
                                <option>Metro Median Pay</option>
                                <option>Job Openings</option>
                                <option>Labor Force Size</option>
                                <option>Unemployment Rate</option>
                                <option>Total Employment</option>
                            </select>
                            <button id="submit1" type="submit" class="btn btn-primary" style="display: inline-block;">Fire!</button>
                        </div>  
                </form>
            </div>
    </div>

            <div class="boxPlots">
                <h3 align="center" class="general">Box Plots</h3> <br><br>
                <form action="" method="get">
                        {% csrf_token %}
                        <div align="center" class="form-group">
                            <label for="boxplot"></label>
	                            <select class="form-control" id="boxplot" name="boxplot" style="max-width:20%;display: inline-block;">
	                                <option value="" selected="selected">Box Plot</option>
	                                <option>Median Base Pay</option>
	                                <option>Job Title</option>
	                          	</select>
                            <button id="submit2" type="submit" class="btn btn-primary" style="display: inline-block;">Fire!</button>
                        </div>  
                </form>
            </div>
        {% for message in messages %}
            <div align="center" class="alert-failure">
                <p style="color:red;">{{ message }}</p>
            </div>
        {% endfor %}

    {%if plot%}

        <div class="container">
                <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                {# <div id="plot_container" class="col-md-12">{{plot|safe}}</div>#}
                                <div class="col-md-12">{{plot|safe}}</div>
                            </div>
                        </div>
                </div>
            </div>

    {% endif %}

    {%if plot6%}

    <div class="container">
        <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        {# <div id="plot_container" class="col-md-12">{{plot6|safe}}</div>#}
                        <div class="col-md-12">{{plot6|safe}}</div>
                    </div>
                </div>
        </div>
    </div>
    {% endif %}

    {%if plot2%}

    <div class="container">
            <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            {# <div id="plot_container" class="col-md-12">{{plot2|safe}}</div>#}
                            <div class="col-md-12">{{plot2|safe}}</div>
                        </div>
                    </div>
            </div>
        </div>
    {% endif %}
    <br>

    {% endblock %}

    <div class="footer-basic">
        <footer>

        </footer>
    </div>

  </body>
