
{% load static %}
    <br>
    <h2 align="center"><b>Job Statistics Portal</b></h2><br><br>


    <p align="center">This website is developed sdafsdajfkhsdfjkasdfl.</p>

    <br>

    <div align="center">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/indeed/'">Indeed Scraper</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/indeed_compare/'">Compare Jobs</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/glassdoor/'">Glassdoor Visualizations</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/database/'">Database</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/county_choropleth/'">Choropleth</button>
    </div>


    <div class="footer-basic">
        <footer>
            
        </footer>
    </div>